<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">

<dom-module id="my-movements">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser"></iron-localstorage>

      <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      <app-location route="{{route}}"></app-location>
    <iron-localstorage
      name="account-storage"
      value="{{accountData}}"
      on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    </iron-localstorage>

    <iron-ajax
      auto
      id="getMovementsAjax"
      method="get"
      url="http://localhost:3000/colapi/v1/accounts/{{accountData._id.$oid}}/movements"
      handle-as="json"
      last-response="{{movements}}"></iron-ajax>
      <div class="card">

        <div class="circle">Movements</div>
        <h1>Movements</h1>
      <dom-repeat items="{{movements}}">
           <template>
             <div class="card">

               <div>Ref: <span>{{item._id.$oid}}</span></div>
               <div>Amount : <span>$ {{item.amount}}</span></div>
               <div>Date : <span>{{item.date.toString()}}</span></div>
             </div>
           </template>
         </dom-repeat>



        </div>
  </template>

  <script>
    class ClientMovements extends Polymer.Element {
        static get is() { return 'my-movements'; }
            static get properties() {
             return {
                 accountData: Object
             };
           }



    initStoredUser() {
            this.getMovements();
        
    }

    getMovements() {
        this.$.getMovementsAjax.generateRequest();
     }

    }

    window.customElements.define(ClientMovements.is, ClientMovements);
  </script>
</dom-module>
