<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="log-out.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">

  <template>
  <style include="shared-styles">
  :host {
    display: block;

    padding: 10px;
  }

  .alert-error {
    background: #ffcdd2;
    border: 1px solid #f44336;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    padding: 10px;
  }

  .wrapper-btns {
    margin-top: 15px;
  }
  paper-button.link {
    color: #757575;
  }
  </style>

  <div class="card">
    <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
      <h2>Hello, [[storedUser.name]]!</h2>
      <p>You are currently logged in. You can access <a href="[[rootPath]]my-accounts">to your account</a>!</p>
      <log-out stored-user="{{storedUser}}">sad</log-out>
    </div>
    <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
      <h1>Log In</h1>

      <p><strong>Log in</strong> or <strong>sign up</strong> </p>
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error.error]]</p>
      </template>
      <paper-input-container>
        <label slot="input">Username</label>
        <iron-input slot="input" bind-value="{{formData.email}}">
          <input id="email" type="text" value="{{formData.email}}" placeholder="Email">
        </iron-input>
      </paper-input-container>

      <paper-input-container>
        <label>Password</label>
        <iron-input slot="input" bind-value="{{formData.password}}">
          <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
        </iron-input>
      </paper-input-container>

      <div class="wrapper-btns">
        <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
        <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
      </div>
    </div>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-location route="{{route}}"></app-location>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-ajax
    id="registerLoginAjax"
    headers='{"Access-Control-Allow-Origin": "*"}'
    method="post"
    content-type="application/json"
    handle-as="json"
    on-response="handleUserResponse"
    on-error="handleUserError">
  </iron-ajax>
</template>

<script>

var host='http://localhost:3000';

class RegisterLogin extends Polymer.Element {
  static get is() { return 'register-login'; }
  static get properties() {
    return {
      formData: {
        type: Object,
        value: {}
      }
    }
  }


  handleUserResponse(event) {
    var response =event.detail.response;
    if (response._id) {
      this.error = '';
      this.storedUser = {
        name: response.first_name,
        id_token: response._id,
        access_token: response.access_token,
        loggedin: true
      };
      this.set('route.path', '/my-accounts');
    }

    this.formData = {};
  }


  handleUserError(event) {
    this.error = event.detail.request.xhr.response;
  }
  _setReqBody() {
    this.$.registerLoginAjax.body = this.formData;
  }

  postLogin() {
    this.$.registerLoginAjax.url = host+'/colapi/v1/login';
    this._setReqBody();
    this.$.registerLoginAjax.generateRequest();
  }

  postRegister() {
    this.$.registerLoginAjax.url = host+'/users';
    this._setReqBody();
    this.$.registerLoginAjax.generateRequest();
  }

}

window.customElements.define(RegisterLogin.is, RegisterLogin);
</script>
</dom-module>
